---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout>
    <div class="gallery-container">
        <div class="gallery-item">
            <a href="/ilustraciones">
                <img src="/assets/galerias/ilustraciones.jpg" alt="Ilustraciones" class="gallery-image" />
            </a>
            <h4 class="gallery-title">Ilustración</h4>
        </div>
        
        <div class="gallery-item">
            <a href="/concept-art">
                <img src="/assets/galerias/concept-art.jpg" alt="Concept Art" class="gallery-image" />
            </a>
            <h4 class="gallery-title">Arte conceptual</h4>
        </div>
    </div>
</BaseLayout>

<style>
    .gallery-container {
        display: flex;
        justify-content: center; /* Centra las imágenes en el contenedor */
        align-items: center;
        gap: 3rem; /* Espacio entre las imágenes */
        margin-top: 2rem; /* Espacio en la parte superior */
        flex-wrap: wrap; /* Permite que las imágenes se ajusten en pantallas más pequeñas */
        width: 100%; /* Asegura que el contenedor ocupe todo el ancho de la ventana */
        padding-bottom: 100px; /* Espacio para el footer */
    }

    .gallery-item {
        display: flex;
        flex-direction: column; /* Coloca la imagen y el título en columna */
        align-items: center; /* Centra los elementos horizontalmente */
        max-width: 800px; /* Máximo ancho para cada ítem */
        text-align: center; /* Centra el texto */
    }

    .gallery-image {
        width: 50%; /* Hace que la imagen ocupe todo el ancho del contenedor */
        max-width: 800px; /* Imagen más grande */
        height: auto; /* Mantiene la proporción de la imagen */
        border-radius: 1rem; /* Bordes redondeados */
        box-shadow: var(--shadow-md); /* Sombra para efecto visual */
        transition: transform 0.3s; /* Efecto de transición */
    }

    .gallery-image:hover {
        transform: scale(1.08); /* Aumenta el tamaño al pasar el cursor */
    }

    .gallery-title {
        margin-top: 1rem; /* Espacio entre la imagen y el título */
        font-size: 1.5rem; /* Tamaño del texto */
        color: var(--gray-100); /* Color del texto */
    }

    @media (max-width: 768px) {
        .gallery-item {
            max-width: 90%; /* Reduce el tamaño del contenedor en pantallas pequeñas */
        }

        .gallery-image {
            max-width: 100%; /* Elimina el límite de tamaño en pantallas pequeñas */
        }

        .gallery-title {
            font-size: 1.25rem; /* Tamaño de texto más pequeño en pantallas móviles */
        }
    }
</style>
