---

import BaseLayout from "../layouts/BaseLayout.astro";
import { loadProjects } from "../cloudinary/loadProjects";


interface ProjectData {
    name: string;
    description: string;
    featured_image: string | null;
    folder: string;
}

const projects: ProjectData[] = await loadProjects();

---

<BaseLayout>
    <div class="projects-list">
        {projects.length > 0 ? (
            projects.map((project) => (
                <a
                    href={`/${encodeURIComponent(project.folder.split("/")[1])}`}
                    class="project-item"
                >
                    <img
                        src={project.featured_image}
                        alt={project.name || "Imagen de proyecto"}
                        class="project-image"
                    />
                    <div class="project-details">
                        <h3>{project.name}</h3>
                        <p>{project.description}</p>
                    </div>
                </a>
            ))
        ) : (
            <p>No hay proyectos disponibles.</p>
        )}
    </div>
</BaseLayout>

<style>
    .projects-list {
        padding: 2.5rem;
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }

    .project-item {
        border: 1px solid var(--gray-800);
        border-radius: 1.25rem;
        padding: 2rem;
        background-color: var(--gray-999);
        text-decoration: none;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .project-image {
        width: 100%;
        height: auto;
        border-radius: 1.25rem;
        object-fit: cover;
    }

    .project-details h3 {
        font-size: 2rem;
        margin: 0;
        color: var(--accent-light);
        text-align: center;
    }

    .project-details p {
        color: var(--gray-100);
        font-size: 1.5rem;
        line-height: 1.8;
    }

    @media (min-width: 768px) {
        .project-item {
            flex-direction: row;
            gap: 3rem;
        }

        .project-details h3 {
            text-align: left;
        }

        .projects-list {
            max-width: 1000px;
            margin-left: auto;
            margin-right: auto;
        }

        .project-image {
            width: 300px;
            height: 300px;
            border-radius: 1.25rem;
            object-fit: cover;
        }
    }
</style>
