---
interface Props {
	title: string;
	tagline?: string;
	align?: "start" | "center";
}

const { align = "center", title, tagline } = Astro.props;
---

<div class="box">
	<!-- Título: Siempre centrado -->
	<h2 class="title">{title}</h2>

	<!-- Contenido: Slot centrado -->
	<div class="content">
		<slot />
	</div>
</div>



<style>
/* Estructura general compartida */
.box {
	border: 1px solid var(--gray-800);
	border-radius: 0.75rem;
	padding: 1.5rem;
	background-color: var(--gray-999);
	box-shadow: var(--shadow-sm);
	width: 100%;
	display: flex;
	flex-direction: column;
	text-align: center;
}

/* Título */
.title {
	font-size: var(--text-md);
	color: var(--gray-0);
	margin-bottom: 1.5rem;
}

/* Contenido de Hero */
.hero .content {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

/* Ajustes responsivos */
@media (min-width: 50em) {
	.box {
		padding: 2.5rem;
		border-radius: 1rem;
	}

	.title {
		font-size: var(--text-3xl);
	}
}

@media (min-width: 75em) {
	.box {
		padding: 3rem;
		border-radius: 1.5rem;
	}

	.title {
		font-size: var(--text-3xl);
	}
}

</style>
